div(class='content')
  h2(class='content__title') Станьте современным бухгалтером
  p(class='content__shortDescription') Сервис для загрузки данных из ГТД в электронном виде
  p(class='content__fullDescription') Все необходимые <span>данные для ЭСФ + Виртуальный склад</span> у Вас <span>в 1С</span> сразу после импорта
  input(class='btn btn__highlight' type="submit" value='Попробовать демо')
  input(class='btn' type="submit" value='Отправить заявку')