div(class='header')
  div(class='linkWrapper')
    a(class='linkWrapper__navLinks' href='#') Компания
    a(class='linkWrapper__navLinks' href='#') Поддержка
    a(class='linkWrapper__navLinks' href='#') Купить
  span(class='separator')
  div(class='menuIcon__Wrapper')
    button(class='header__menuIcon')
      div(class='headerDropdown__Wrapper')
        include headerDropdown
  input(class='btn' type='submit' value='Войти')