div(class='pageHeader')
  include ./logo
  div(class='linkWrapper')
    a(class='linkWrapper__navLinks' href='#') Описание
    a(class='linkWrapper__navLinks' href='#') Скачать
    a(class='linkWrapper__navLinks' href='#') Инструкции