doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title VSKLAD Landing page
  body
    div(class='wavyBg')
      div(class='container')
        include ./pug/header
        include ./pug/pageHeader
        div(class='contentWrapper')
          include ./pug/content
          include ./pug/asideImg
        //- div(class='test')
        //-   include ./pug/headerDropdown


